@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--Dark-cyan);
  background-image: url('./images/bg-pattern-top.svg'), url('./images/bg-pattern-bottom.svg');
  background-repeat: no-repeat;
  background-position: bottom 40vh right 40vw, top 40vh left 40vw;
}

.flex{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 32.7rem;
  background-color: #fff;
  box-shadow: 0rem .2rem .5rem rgba(0,0,0,0.3);
  border-radius: 1rem;
  overflow: hidden;
}

.card h1, .card h2{
  font-size: 1.8rem;
  color: var(--Very-dark-desaturated-blue);
}

.card p{
  font-size: 1.4rem;
  color: var(--Dark-grayish-blue);
}

.card .card-cover{
  width: 100%;
  display: block;
}

.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.card-content img{
  margin-top: -4.8rem;
  border: .5rem solid #fff;
  border-radius: 100%;
}

.card-content h1{
  margin-top: 2rem;
  margin-bottom: .5rem;
}

.card-content h1 span{
  margin-left: .5rem;
  font-weight: 400;
  color: var(--Dark-grayish-blue);
}

.card-content p{
  letter-spacing: .1rem;
  margin-bottom: 2.5rem;
}

.card-footer{
  display: flex;
  justify-content: space-evenly;
}

.card-footer div{
  margin: 2rem 0;
  text-align: center;
}

.card-footer div p{
  margin-top: .5rem;
  font-size: 1rem;
  letter-spacing: .3rem;
}

@media (min-width: 1000px){
  body{
    background-position: bottom 48vh right 48vw, top 48vh left 48vw;
  }
}